<h1>About Alpha Blog</h1>
<p>Alpha Blog is a Ruby On Rails Website that allow users to create a new account, and manage articles (creation, removal, deletion, update)</p>
<%= link_to 'Home page', root_path %>
